.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.product-container{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 30px;
    padding: 0 50px;
}
.cart-container{
    width: auto;
    position: sticky;
    top: 0;
    background-color: rgb(51, 204, 255);
    border-radius: 10px;
    margin-right: 20px;
    height: 500px;
    padding: 20px;
}
.cart-container button{
    width: 250px;
    text-align: center;
    background-color: #fff;
    color: rgb(51, 204, 255);
    padding: 10px 20px;
    border: 0;
    border-radius: 5px;
    margin: 5px;
}

@media screen and (max-width: 600px){
    .product-container{
        grid-template-columns: 1fr;
    }
    .shop-container{
        grid-template-columns: 1fr;
    }
    .cart-container{
        margin: 20px 40px;
    }
    .cart-container button{
        width: 90%;
    }
}